body {
  font-family: 'M PLUS 1p';
  font-weight: 400;
  font-size: 18px;
  color: #122947;
  position: relative;
  width: 1366px;
  height: 4610px;
  background-color: #F8F8F6;
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

/* Grid */
.container {
   position: absolute;
   padding-left: 10px;
   padding-right: 10px;
   margin-left: auto;
   margin-right: auto;
    }

 