.bestsellers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1310px;
    height: 349px; 
    margin-left: 98px;
    margin-top: 140px;
    margin-bottom: 140px;
}
.description {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 349px
}

.container-roll {
    display: flex;
    width: 1310px;
    height: 312px;
    
}
.bestsellers-content {
    display: flex;
    flex-direction: column;
    width: 214px;
    height: 200px;
    margin-right: 86px;
 }
.bestsellers-heading { 
    display: flex;
    height: 23px;
    align-items: center;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 30px;
}
.bestsellers-text {
    display: flex;
    align-items: center;
    width: 214px;
    height: 66px;
    line-height: 26px;
    margin-bottom: 40px;
 }
.bestsellers-btn {
    width: 155px;
 }
.item-cards-group {
    display: flex;

}
 .item-card { 
    margin-right: 30px;
    width: 230px;
    height: 312px;
 }
.item-card-img {
    position: absolute;
    width: 230px;
    height: 312px;
  }

 .item-card-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.item-name { 
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    width: 35px;
    height: 12px;
    margin-top: 220px;
    }
.item-description {
    font-size: 13px;
    line-height: 19px;
    color: #9A9DA0;
    min-width: 94px;
    height: 9px;
    margin-top: 10px;
    margin-bottom: 20px;
    }
.item-details { 
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 19px;
    width: 70px;
    height: 16px;
    border-bottom: 1px solid #122947;
    padding-bottom: 7px;
    }
.vectors {
    display: flex;
    margin-top: 25px;
    margin-left: 1080px;
    }
.vector-back {
    margin-right: 32px;
}
