.btn, a.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 41px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    border: 1px solid #B3BAC1;
    box-sizing: border-box;
    border-radius: 2px;
    transition: opacity 0.2s ease;
       } 

.btn:hover, a.btn:hover {
    opacity: 0.8;
    color: rgb(103, 74, 74);
}
.btn-normal {
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 13px;
    padding-bottom: 16px;
}

.home-btn {
    margin-left: 114px;
    margin-right: 115px;
}
.vector {
    width: 26px;
    height: 12px;
}