.contacts {
position: relative;
margin-bottom: 140px;
}
.contacts-row {
    display: flex;
}
@media screen and (max-width: 1081px) {
    .contacts-row {
       justify-content: center;
    }
}
.contacts-content {
    width: 670px;
    height: 554px;
    background: #F4F1ED;
    }
@media screen and (max-width: 1081px) {
    .contacts-content {
        width:500px;
      }
}
.contacts-content-heading {
    width: 142px;
    height: 23px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 40px;
 }
@media screen and (max-width: 430px) {
    .contacts-content-heading {
        margin-left: 50px;
    }
}
.contacts-content-text h3 {
    max-width: 79px;
    height: 13px;
    font-weight: 500;
    font-size: 18px;
    line-height: 145%;
    margin-left: 100px;
    margin-bottom: 20px;
 }
@media screen and (max-width: 430px) {
    .contacts-content-text h3 {
        margin-left: 50px;
    }
}
 .contacts-content-text p {
    max-width: 256px;
    max-height: 39px;
    font-size: 18px;
    line-height: 145%;
    margin-left: 100px;
    margin-bottom: 35px;
}
@media screen and (max-width: 430px) {
    .contacts-content-text p {
        margin-left: 50px;
    }
}

.facebook {
    width: 11px;
    height: 18px;
    margin-right: 30px;
    margin-left: 100px;
 }
@media screen and (max-width: 430px) {
    .facebook {
        margin-left: 50px;
    }
}
.instagram {
    margin-right: 30px;
 }
.contacts-map {
    z-index: 1;
    position: absolute;
    width: 670px;
    height: 422px;
    margin-left: 500px;
    margin-top: 66px;
 }
@media screen and (max-width: 1081px) {
    .contacts-map {
        visibility: hidden;
    }
}
