.footer {
    position: relative;
    background: #F4F1ED;
 }
 .footer-info {
    border-bottom: 1px solid  #D1D1D1;
     }
.footer-row {
    height: 141px;
    display: flex;
    flex-wrap: wrap;
    min-width: 131px;
    justify-content: space-between;
    align-items: center;
  }
.footer-logo {
    width: 131px;
    height: 21px;
    margin-right: 10px;
}
.footer-nav ul {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 12px;
    font-size: 16px;
}

.footer-nav li:not(:last-child) {
    margin-right: 30px;
}
@media screen and (max-width: 507px) {
    .footer-nav li:not(:last-child) {
        margin-right: 10px;
    }
}
.footer-nav li:last-child {
    margin-right: 10px;
}
.footer-nav a {
    transition: color 0.2s ease;
}
.footer-nav a:hover {
    color: #7d244b;
}
.footer-social {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}
@media screen and (max-width: 640px) {
    .footer-social {
        justify-content: center;
    }
}
.footer-social a {
    margin-right: 20px;
}
.footer-copyright {
   min-width: 100px;
}
.footer-copyright-row {
    height: 54px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
    color: #959595;
    }
 .footer-copyright img {
    margin-right: 5px;
    margin-left: 5px;
}
 .confidential {
   margin-left: 759px;
}
