.header { 
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 50;
}
.header-row {
   display: flex;
   flex-wrap: wrap;
   min-height: 101px;
   align-items: center;
  }
.header-logo {
    /* width: 131px;
    height: 21px;
    left: 0px;
    top: 0px; */
}
.header-nav {
    font-size: 16px;
    /* width: 1039px; */
}
.header-nav ul {
    display: flex;
    flex-wrap: wrap;
}
.header-nav li {
    margin-left: 164px;
}
.header-nav a {
    transition: color 0.2s ease;
}
.header-nav a:hover {
    color: #7d244b;
}
.home-bg-image {
    z-index: -1;
    background-color: #F9F7F6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
}
.home-bg-image img {
    /* width: 100%;
    object-fit: cover; */
}
.promo-card-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    height: 27px;
    transition: opacity 0.2s ease;
}
.promo-card-text:hover {
    opacity: 0.8;
    color: rgb(103, 74, 74);
}
.promo-card {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
.home { 
    position: relative;
    z-index: 2;
    }
.container-home {
    display: flex;
    align-items: center;
    padding-left: 98px;
    padding-top: 140px;
    padding-bottom: 70px;
}
.home-content { 
    display: block;
    align-items: center;
}
.home-heading {
    margin-right: 55px;
    margin-left: 55px;
    width: 260px;
    height: 40px;
    font-family: 'Raleway', serif;
    font-weight: 500;
    font-size: 58px;
    line-height: 68px;
    display: flex;
    align-items: center;
}
.home-text { 
    display: flex;
    width: 274px;
    height: 40px;
    margin-top: 30px;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 40px;
    line-height: 26px;
    text-align: center;
    align-items: center;
        