.history {
    position: relative;
    display: flex;
    width: 1366px;
    height: 433px;
 }
 .history-content {
        display: flex;
        flex-direction: column;
        margin-top: 120px; }
.history-text {
display: flex;
align-items: center;
text-align: center;
width: 762px;
height: 102px;
font-family: 'Raleway';
font-size: 32px;
line-height: 40px;
margin-left: 303px;
margin-bottom: 50px;
 }
.history-btn {
    width: 163px;
    height: 41px;
    margin-left: 602px;
 }
 .history-bg-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    }
    .history-bg-img .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
